# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Migrations (optional if you don’t want to track them until stable)
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# Celery
celerybeat-schedule
celerybeat.pid

# Redis dump
dump.rdb

# VSCode / PyCharm
.vscode/
.idea/

# Docker
*.pid
*.seed
*.cover
*.swp
.DS_Store
docker-compose.override.yml

# Byte-compiled / cache
*.egg-info/
.eggs/
dist/
build/

# Environment
.env
*.env
.env.*

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter
.ipynb_checkpoints

# System files
Thumbs.db


# IntelliJ
.idea